<br><br>

<div class="container">
    <h4>Busqueda</h4>
    <form action="/api/product/personaCurp" method="POST">

        <select id="busqueda" name="busqueda">
            <option value="nombreProducto">Por nombre</option>
        </select>

        <input type="text" name="curp" id="curp" placeholder="Introduce CURP...">
        <button type="submit">Buscar</button>

    </form>

</div>

<br>
<div class="table-responsive-sm">
    <table class="table w-auto table-striped">

        <thead>

            <tr>
                <th class="th-sm">Apellido Paterno</th>
                <th class="th-sm">Apellido Materno</th>
                <th class="th-sm">Nombre(s)</th>
                <th class="th-sm">Fecha de Nacimiento</th>
                <th class="th-sm">Sexo</th>
                <th class="th-sm">Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#personas}}
            <tr>
                <td>{{ApellidoPaterno}}</td>
                <td>{{ApellidoMaterno}}</td>
                <td>{{Nombre}}</td>
                <td>{{FechaNacimiento}}</td>
                <td>{{Sexo}}</td>
                <td>{{Estado}}</td>
            </tr>
            {{/personas}}
        </tbody>
    </table>
</div>